---
import Header from '../components/Header.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import IndexLayout from '../layouts/IndexLayout.astro'
import SocialLinks from '../components/SocialLinks.astro'
import Section from '../components/Section.astro'
import Flex from '../components/Flex.astro'
import Item from '../components/Item.astro'
import Project from '../components/Project.astro'

import ramp from '../assets/ramp.svg'
import tour from '../assets/tour.svg'
import meetingbrew from '../../public/images/meetingbrew.png'
import slides from '../../public/images/slides.png'
import gifgrams from '../../public/images/gifgrams.png'
import codefy from '../../public/images/codefy.png'
import mhackslive from '../../public/images/mhackslive.png'
import focusedyoutube from '../../public/images/focusedyoutube.png'
import robotReveal from '../../public/images/robotreveal.jpg'
---

<head>
  <title>brian travis [dot] dev</title>
</head>

<BaseLayout>
  <IndexLayout>
    <Flex gapRem={1}>
      <Header />

      <SocialLinks />
    </Flex>

    <Section title='Writing'>
      <Item href='/essays/successful-teams'>
        <p slot='title'><b>Successful Teams</b></p>
        <h3 slot='description'>Notes and observations</h3>
        <h3 slot='date'>2024</h3>
      </Item>
    </Section>

    <Section title='Projects'>
      <div class='Project_container'>
        <Project
          href='https://www.figma.com/@briantravis'
          imgSrc={slides.src}
          title='Convex Slides Theme (Figma Slides)'
          description='320 likes, 1.5k users'
        />
        <Project
          href='https://meetingbrew.com'
          imgSrc={meetingbrew.src}
          title='MeetingBrew.com'
          description='7k monthly users'
        />
        <Project
          href='https://gifgrams.com'
          imgSrc={gifgrams.src}
          title='GifGrams.com'
          description='Send free e-cards with Tenor gifs'
        />
        <Project
          href='https://codefy.ai'
          imgSrc={codefy.src}
          title='Codefy.ai'
          description='Gen AI coding tools'
        />
        <Project
          href='https://live.mhacks.org'
          imgSrc={mhackslive.src}
          title='MHacks Live'
          description='Weekend-of hackathon site'
        />
        <Project
          href='https://chromewebstore.google.com/detail/focused-youtube/edjlbgpnodgccmmglnbiokamhgepmecj?hl=en'
          imgSrc={focusedyoutube.src}
          title='Focused YouTube'
          description='Chrome extension for distraction-free YouTube'
        />
        <Project
          href='https://www.youtube.com/watch?v=IN1iTrB4rRw'
          imgSrc={robotReveal.src}
          title='COMETS 3357 FRC Reveal Video (2022)'
          description='28k views'
        />
      </div>
    </Section>

    <Section title='Work'>
      <Item href='https://ramp.com' openNewTab={true}>
        <img src={ramp.src} alt='ramp' width='24' height='24' slot='avatar' />
        <p slot='title'><b>Ramp</b></p>
        <h3 slot='description'>Engineering</h3>
        <h3 slot='date'>2024 - 2025</h3>
      </Item>

      <Item href='https://usetour.com' openNewTab={true}>
        <img
          src={tour.src}
          alt='tour.video'
          width='24'
          height='24'
          slot='avatar'
        />
        <p slot='title'><b>Tour.video (YC S21)</b></p>
        <h3 slot='description'>Engineering, product</h3>
        <h3 slot='date'>2023</h3>
      </Item>
    </Section>
  </IndexLayout>
</BaseLayout>

<style>
  .Index_hidden {
    display: none;
  }

  .Project_container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0.25rem;
    row-gap: 1.5rem;

    @media screen and (min-width: 704px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
